.div-left {
    position: absolute;
    width: 483px;
    height: 721px;

    background: linear-gradient(26.99deg,
            rgba(69, 26, 78, 0.2) 52.61%,
            rgba(60, 13, 13, 0.2) 95.07%),
        linear-gradient(164.67deg,
            rgba(22, 4, 31, 0.98) 4.47%,
            #380c4a 15.5%,
            #3b0e46 19.19%,
            #3d0f42 23.38%,
            #441436 30.26%,
            #33254e 36.4%,
            #2b2d59 42.79%,
            #292654 47.99%,
            #271f4f 52.8%,
            #240d37 64.72%,
            #22052d 79.1%);
    color: white;
}

.div-right {
    position: absolute;
    top: 22vh;
    right: 63vh;
    width: 200px;
    height: 100px;
}